
*{
    margin:0;
    padding:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{

    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
}
.apple-logo{
    z-index: 10;
    padding-top: 10px;
}
.menu-button{
    z-index: 10000;
    top: 3%;
    left: 1%;
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 35px;
    background: transparent;
    border: none;
}
nav{padding-top: 50px;
    position: fixed;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f1f1f1;
    border-bottom: 1px solid #cfcfcf;
    transform: translateY(-200%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}
nav a {
    font-size: 30px;
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color:#000
}
nav.active{
    transform: translateY(0%);
}
.line{
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #000;
    transition: transform 0.3s ease-in-out,
    opacity 0.01s ease-out;
}

.l1{

    transform: translateY(-10px);
}
.l3{
    transform: translateY(10px);
}

.menu-button.active .l1{
    transform: translateY(0px) rotate(135deg);
}
.menu-button.active .l2{
    opacity: 0;
}
.menu-button.active .l3{
    transform: translateY(0px) rotate(-135deg);
}

.full-page-div-smallscreen{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 1400px;
}
.full-page-div-bigscreen{
    width: 1920px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.small-title{
    background: linear-gradient(to right,cornflowerblue,blueviolet,violet,pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family:fantasy;
    margin: 50px;
    display: flex;
    justify-content: center;
    font-size: 75px;
}
.big-title{
        color: #000;
        text-align: center;
        margin: 50px;
        display: flex;
        justify-content: center;
        font-size: 100px;
        font-weight: 700;
    }

.carroussel{
    width: 1300px;
    overflow: hidden;
    
}
.wrap-carroussel{
    background-color: #f0f0f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.slides{
    display: flex;
    flex-direction: row;
    transition: 0.3s;
}

.slides.pos1{
    transform: translateX(0%);
}
.slides.pos2{
    transform: translateX(-14.375%);
}
.slides.pos3{
    transform: translateX(-28.75%);
}
.slides.pos4{
    transform: translateX(-43.125%);
}
.slides.pos5{
    transform: translateX(-57.5%);  
}
.slides.pos6{
    transform: translateX(-71.875%); 
}
.slides.pos7{
    transform: translateX(-86.25%); 
}
.slides.pos8{
    transform: translateX(-115%);
}

.left-arrow{
    opacity: 0;
    transition: 0.4s;
}
.left-arrow.usable{
    margin: 10px;
    border-radius: 1000px;
    height: 60px;
    width: 60px;
    border: none;
    opacity: 0.8;
    background-color: white;
}
.right-arrow{
    margin: 10px;
    border-radius: 1000px;
    height: 60px;
    width: 60px;
    border: none;
    opacity: 0.8;
    background-color: white;
    transition: 0.4s;

}
.right-arrow.limit{
    opacity: 0;
}

.info-card{
    border-radius: 30px;
    background-color: #fff;
    margin: 20px;
    font-size: 19px;
    font-weight: 500;
    height: 350px;
}
.card-text{
    width:250px;
}
.card-logo{
    margin: 20px;
}

.colored-text{
    background: linear-gradient(to right,cornflowerblue,blueviolet,violet,pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.alltext{
    margin: 30px;
}